<!DOCTYPE html>
<html>
<head>
  <title>Bookmark Sotrage App</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="header">
<a href="/bookmarks">Show All Bookmarks</a>
<a href="/bookmarks/new">New Bookmark</a>
</div><div class="mainbody">
<%= yield %>
</div>
</body>
</html>
